@media (max-width:1440px) and (min-width:1366px){
    :root{
        font-size: 10px;
    }
}

@media (max-width:320px) {
    :root{
        font-size: 5px;
    }
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}